---
interface Props {
  education: Array<{
    name: string;
    time: string;
    profession: string;
  }>;
}

const { education } = Astro.props;
---

<section class="my-4">
  <h2 class="text-3xl font-semibold pb-2 max-sm:text-xl max-sm:p-0">
    Education
  </h2>
  {
    education.map((info) => (
      <div class="my-2">
        <div class="w-full flex justify-between">
          <h3 class="text-2xl font-semibold pb-2 max-sm:text-xl max-sm:p-0">
            {info.name}
          </h3>
          <span class="text-xl text-gray-700 pb-1 max-sm:text-sm max-sm:p-0">
            {info.time}
          </span>
        </div>
        <p class="text-xl text-gray-500 pb-1 max-sm:text-sm max-sm:p-0">
          {info.profession}
        </p>
      </div>
    ))
  }
</section>
