---
interface Props {
  education: Array<{
    name: string;
    time: string;
    profession: string;
  }>;
  english?: boolean;
}

const { education, english } = Astro.props;
---

<section class="mt-8 max-sm:mt-4">
  <h2
    class="text-3xl font-semibold mb-4 max-sm:text-xl max-sm:mb-2"
    id="education"
  >
    {english ? "Education" : "Educación"}
  </h2>
  {
    education.map((info) => (
      <div class="my-2 w-full">
        <div class="w-full flex justify-between">
          <h3 class="text-xl font-semibold pb-2 max-sm:text-sm max-sm:p-0">
            {info.name}
          </h3>
          <span class="flex text-xl text-gray-700 pb-1 ml-6 max-sm:text-xs max-sm:ml-2 w-1/4 justify-end whitespace-nowrap print:text-black">
            {info.time}
          </span>
        </div>
        <p class="text-xl text-gray-600 pb-1 max-sm:text-sm max-sm:p-0 print:text-black print:font-normal">
          {info.profession}
        </p>
      </div>
    ))
  }
</section>
