---
import { ICONS_ENUM } from "../icons/listIcons";

interface Props {
  skills: Array<{
    name: string;
    keyword?: string;
    url?: string;
  }>;
  english?: boolean;
}

const key = new Set<string>([]);

const { skills, english } = Astro.props;
---

<section class="mb-4">
  <h2 class="text-3xl font-semibold pb-2 max-sm:text-xl max-sm:p-0" id="skills">
    {english ? "Skills" : "Habilidades"}
  </h2>
  <ul class="flex flex-wrap text-2xl">
    {
      skills.map((skill) => {
        key.add(skill.name);
        const Icon = ICONS_ENUM[skill.name];
        const classDashed =
          "inline-flex px-4 py-2 whitespace-nowrap transition-colors text-sm font-semibold items-center justify-center bg-gray-100 my-2 hover:bg-gray-200 max-sm:text-xs max-sm:px-1 max-sm:py-2 rounded-lg hover:shadow-sm";
        const classSolid =
          "inline-flex px-4 py-2 whitespace-nowrap transition-colors text-sm font-semibold items-center justify-center hover:bg-gray-300  m-2 max-sm:text-xs max-sm:px-1 max-sm:py-2 max-sm:m-1 rounded-xl hover:shadow-sm print:shadow-none bg-gray-200";

        return (
          <li title={`About ${skill.name}`}>
            <a
              href={skill.url ?? "#"}
              target="_blank"
              rel="noopener noreferrer"
              class={
                skill.keyword && key.has(skill.keyword)
                  ? classDashed
                  : classSolid
              }
            >
              {Icon && <Icon class="mr-2 w-[50%]" />}
              {skill.name}
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
