---
import { ICONS_ENUM } from "../icons/listIcons";

interface Props {
  skills: Array<{
    name: string;
    keyword?: string;
    url?: string;
  }>;
}

const key = new Set<string>([]);

const { skills } = Astro.props;
---

<section class="mb-4">
  <h2 class="text-3xl font-semibold pb-2 max-sm:text-xl max-sm:p-0">Skills</h2>
  {
    skills.map((skill) => {
      key.add(skill.name);
      const Icon = ICONS_ENUM[skill.name];
      const classDashed =
        "inline-flex px-4 py-1 whitespace-nowrap transition-colors text-sm font-semibold text-gray-500 bg-transparent items-center justify-center hover:text-gray-700 hover:border-gray-700 my-2 max-sm:text-xs max-sm:px-1 max-sm:py-2 border-dashed border-y-2 border-gray-500";
      const classSolid =
        "inline-flex px-4 py-1 whitespace-nowrap transition-colors text-sm font-semibold text-gray-500 bg-transparent items-center justify-center hover:text-gray-700 hover:border-gray-700 m-2 max-sm:text-xs max-sm:px-1 max-sm:py-2 max-sm:m-1 border-2 border-gray-500 shadow-gray-200/50 rounded-xl";

      return (
        <a
          href={skill.url ?? "#"}
          title={`About ${skill.name}`}
          class={
            skill.keyword && key.has(skill.keyword) ? classDashed : classSolid
          }
          target="_blank"
          rel="noopener noreferrer"
        >
          {Icon && <Icon class="p-0 mr-1 w-[50%]" />}
          {skill.name}
        </a>
      );
    })
  }
</section>
