---
interface Props {
  title: string;
  lang?: string;
}

const { title, lang = "es" } = Astro.props;

import Header from "@/components/Header.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Omar Marquez Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="minimalist-portfolio-astro/favicon.svg"
    />
    <title>{title}</title>
  </head>
  <body
    class="w-3/4 print:w-11/12 max-w-[1024px] flex flex-col antialiased max-sm:w-full pb-20 px-[5%]"
  >
    <Header lang={lang} />
    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  document
    .getElementById("print")
    ?.addEventListener("click", () => window.print());
</script>
