---
import Header from "@/components/Header.astro";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import "@/styles/global.css";

interface Props {
  title: string;
  lang?: string;
}

const { title, lang = "es" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Omar Marquez Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta
      name="google-site-verification"
      content="EdxisKL8WzLJj7QkegeWnXwteHvtNgRJZtbtqRFVK2k"
    />
    <title>{title}</title>
  </head>
  <body
    class="w-3/4 print:w-11/12 max-w-[1024px] flex flex-col antialiased max-sm:w-full pb-20 px-[5%]"
  >
    <Header lang={lang} />
    <main>
      <slot />
    </main>
    <Analytics />
    <SpeedInsights />
  </body>
</html>

<script>
  document
    .getElementById("print")
    ?.addEventListener("click", () => window.print());
</script>
